///////////////////////////////////////////////
///////////////////////////////////////////////
/* 
	le Stylesheet
  Use at your own risk because I barely know/learning css.
*/
///////////////////////////////////////////////
///////////////////////////////////////////////


*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

:-moz-any-link:focus {
	outline: none;
}

:-moz-any-link:active {
	outline: none;
}

::-moz-selection {
  background: #666;
	color: #fff;
}

::selection {
  padding-top: 50px;
	background: #666;
	color: #fff;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track { 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(30,30,30,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(30,30,30,0.4); 
}

body {
	position: relative;
	height: 100%;
/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #333333), color-stop(1, #111111));
/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #333333 0%, #111111 100%);
	background-size: 100% 1000px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-default {
/* Mozilla Firefox */ 	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.80) 0%, rgba(0,0,0,0) 100%);
/* Webkit (Safari/Chrome 10) */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.80)), color-stop(100%,rgba(0,0,0,0)));
/* Webkit (Chrome 11+) */	
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* Opera */ 	
	background: -o-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* IE10 Consumer Preview */ 	
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* W3C Markup, IE10 Release Preview */ 	
	background: linear-gradient(to bottom,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
}

.nav {
	background-image: url('https://lh3.googleusercontent.com/-tuSKu6ZYBMY/UiI3bGnoTgI/AAAAAAAABIE/bzsZYrAZHCQ/w50-h51-no/bg_pat_04.png');
	font-family: 'Supermercado One', cursive;
}

li {
	text-shadow: 0px 3px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=3);
}

.nav li:hover, .nav li:focus, .nav li:active {
	background: #111;
	font-size: 20px;
	text-decoration: none;
}

.navbar-toggle {	
	color: white;
}

.navbar .nav .divider{
  background-color:#222;
  height:3px;    
 }

h1, h2 {
	font-family: 'Metamorphous', cursive;
	text-shadow: 0px 3px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=3);
}
h3, h4, h5, h6 {
	font-family: 'Supermercado One', cursive;
}

li, small,  a {
	text-decoration: none;
}

.badge {
	font-size: 20px;
	text-shadow: none;
}

#BGindex {
	background: url('https://lh6.googleusercontent.com/-kTTmg6xDU2M/Uj7ciQ7cy9I/AAAAAAAABK8/O2WEWm0zlpE/w975-h709-no/ss_denizenoftheotherside2.png') no-repeat top center;
	width: 100%;
	height: 700px;
}

#BGmodels {
	background: url('https://lh4.googleusercontent.com/-4oYJvKlfePI/Uj728q6h4uI/AAAAAAAABRo/E7ohdHON7eA/w931-h709-no/inthejungle.png') no-repeat top center;
	width: 100%;
	height: 700px;
}

#BGtools {
	background: url('https://lh6.googleusercontent.com/-5nLwmhCzwR4/Uj---vtL7xI/AAAAAAAABW4/CYuWFB8Bn14/w343-h709-no/sketches_hand.png') no-repeat top center;
	width: 100%;
	height: 1024px;
}


.table code {
  font-size: 13px;
  font-weight: normal;
}

/* Outline button for use within the docs */
.btn-outline {
  background-image: url('https://lh3.googleusercontent.com/-tuSKu6ZYBMY/UiI3bGnoTgI/AAAAAAAABIE/bzsZYrAZHCQ/w50-h51-no/bg_pat_04.png');
	background-repeat: repeat;
	background-color: transparent;
  border-color: #ddd;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  border-color: #fff;
	color: #fff;
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.ss-sidebar.affix {
  position: static;
}

/* First level of nav */
.ss-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

/* All levels of nav */
.ss-sidebar .nav > li > a {
  display: block;
  padding: 5px 20px;
}
.ss-sidebar .nav > li > a:hover,
.ss-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 5px solid #6bcbff;
	color: #fff;
}

.ss-sidebar .nav > .active > a,
.ss-sidebar .nav > .active:hover > a,
.ss-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right: 5px solid #fff;
	color: #fff;
}

/* Nav: second level (shown on .active) */
.ss-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.ss-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .ss-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .ss-sidebar.affix,
  .ss-sidebar.affix-bottom {
    width: 220px;
  }
  .ss-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .ss-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .ss-sidebar.affix-bottom .ss-sidenav,
  .ss-sidebar.affix .ss-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .ss-sidebar.affix-bottom,
  .ss-sidebar.affix {
    width: 260px;
  }
}


/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */

/* Space things out */
.bs-docs-section + .bs-docs-section {
  padding-top: 40px;
}

/* Janky fix for preventing navbar from overlapping */
h1[id] {
  padding-top: 80px;
  margin-top: -45px;
}



/*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */
.ss-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .ss-footer {
    text-align: left;
  }
  .ss-footer p {
    margin-bottom: 0;
  }
}

.table code {
  font-size: 13px;
  font-weight: normal;
}


/*
 * Social buttons
 *
 *(for homepage and footer).
 */

.ss-social {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.ss-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
	text-decoration: none;
	font-size: 28px;
	color: #fff;
}

.ss-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

.ss-social-buttons li a:hover, .ss-social-buttons li a:focus, .ss-social-buttons li a:active {
	color: #fff;
	font-size: 33px;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
  .ss-social {
    text-align: left;
  }
  .ss-social-buttons li:first-child {
    padding-left: 0;
  }
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */

 /* Masthead (headings and download button) */
 .ss-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
}

.ss-masthead h1 {
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.ss-masthead .lead {
	font-family: 'Supermercado One', cursive;
  }

.ss-masthead .btn-outline {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px 24px;
  font-size: 21px;
}

/* Links to project-level content like the repo, Expo, etc */
.ss-masthead-links {
	font-family: 'Supermercado One', cursive;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  list-style: none;
  text-align: center;
}
.ss-masthead-links li {
  display: inline;
}

.ss-masthead-links li a {
  color: #666;
}

.ss-masthead-links li + li {
  margin-left: 20px;
}
.ss-masthead-links li a:hover, .ss-masthead-links li a:focus, .ss-masthead-links li a:active {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.ss-masthead .img-circle {
	width: 64px;
	height: 64px;
}

@media screen and (min-width: 768px) {
  .ss-masthead {
    text-align: left;
    padding-top:    30px;
    padding-bottom:  90px;
  }
  .ss-masthead h1 {
    font-size: 50px;
  }
  .ss-masthead .lead {
	  font-family: 'Supermercado One', cursive;
    margin-right: 25%;
    font-size: 22px;
  }
  .ss-masthead-links {
    font-family: 'Supermercado One', cursive;
		padding: 0;
    text-align: left;
  }
	.ss-masthead .img-circle {
	width: 128px;
	height: 128px;
	}
}

/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */


/* Page headers */
.ss-header {
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
}
.ss-header h1 {
  color: #fff;
}
.ss-header p {
  font-weight: 300;
  line-height: 1.5;
}
.ss-header .container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .ss-header {
    font-size: 21px;
    text-align: left;
  }
  .ss-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .ss-header h1,
  .ss-header p {
    margin-right: 380px;
  }
}

///////////////////////////////////////////////
///////////////////////////////////////////////
/* 
	le End. 
*/
///////////////////////////////////////////////
///////////////////////////////////////////////