///////////////////////////////////////////////
///////////////////////////////////////////////
/* 
	le Stylesheet 
*/
///////////////////////////////////////////////
///////////////////////////////////////////////


*{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

:-moz-any-link:focus {
	outline: none;
}

:-moz-any-link:active {
	outline: none;
}

::-moz-selection {
    background: #666;
	color: #fff;
}

::selection {
    padding-top: 50px;
	background: #666;
	color: #fff;
}

body {
	position: relative;
	height: 100%;
/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #333333), color-stop(1, #111111));
/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #333333 0%, #111111 100%);
/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #333333 0%, #111111 100%);
	background-size: 100% 1000px;
	padding-top: 50px;
	font-family: 'Supermercado One', cursive;
}

.navbar-default {
/* Mozilla Firefox */ 	
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.80) 0%, rgba(0,0,0,0) 100%);
/* Webkit (Safari/Chrome 10) */	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.80)), color-stop(100%,rgba(0,0,0,0)));
/* Webkit (Chrome 11+) */	
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* Opera */ 	
	background: -o-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* IE10 Consumer Preview */ 	
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
/* W3C Markup, IE10 Release Preview */ 	
	background: linear-gradient(to bottom,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
}

.nav {
	background-image: url('../img/bg/bg_pat_04.png');
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Supermercado One', cursive;
	text-shadow: 0px 3px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=3);
}

.icon-dna {
	font-size: 30px;
	color: #222;
}

.icon-directions {
	font-size: 15px;
	color: white;
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}

.table code {
  font-size: 13px;
  font-weight: normal;
}

li {
	text-shadow: 0px 3px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=3);
}

li:hover, li:focus, li:active {
	background: #111;
	font-size: 20px;
}

/*
 * Social buttons
 *
 *(for homepage and footer).
 */

.bs-social {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}

@media screen and (min-width: 768px) {
  .bs-social {
    text-align: left;
  }
  .bs-social-buttons li:first-child {
    padding-left: 0;
  }
}

/*
 * Homepage
 *
 * Tweaks to the custom homepage and the masthead (main jumbotron).
 */

 /* Masthead (headings and download button) */
 .bs-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
}
.bs-masthead h1 {
  font-size: 30px;
  line-height: 1;
  color: #fff;
}
.bs-masthead .btn-outline {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px 24px;
  font-size: 21px;
}

/* Links to project-level content like the repo, Expo, etc */
.bs-masthead-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 15px;
  list-style: none;
  text-align: center;
}
.bs-masthead-links li {
  display: inline;
}
.bs-masthead-links li + li {
  margin-left: 20px;
}
.bs-masthead-links a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .bs-masthead {
    text-align: left;
    padding-top:    30px;
    padding-bottom:  90px;
  }
  .bs-masthead h1 {
    font-size: 30px;
  }
  .bs-masthead .lead {
    margin-right: 25%;
    font-size: 14px;
  }
  .bs-masthead-links {
    padding: 0;
    text-align: left;
  }
}

/*
 * Page headers
 *
 * Jumbotron-esque headers at the top of every page that's not the homepage.
 */


/* Page headers */
.bs-header {
  padding: 30px 15px 40px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
}
.bs-header h1 {
  color: #fff;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .bs-header {
    font-size: 21px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .bs-header h1,
  .bs-header p {
    margin-right: 380px;
  }
}

.404BG {
	text-align: center;
	background-image: url('https://lh5.googleusercontent.com/-W4BEv2Au3Lc/UWU23Pd2U6I/AAAAAAAAA-U/mOqCYzlFYk0/w1267-h709-no/sol.png');
}

///////////////////////////////////////////////
///////////////////////////////////////////////
/* 
	le End. 
*/
///////////////////////////////////////////////
///////////////////////////////////////////////