
.contain-to-grid {
	height: 70px; }
.contain-to-grid .top-bar {
	height: 70px; }
		
.top-bar {
  height: 70px;
  line-height: 70px; }
	
.top-bar .name {
   height: 70px; }
.top-bar .name h1 {
   line-height: 70px; }
	 
.top-bar .toggle-topbar a {
   height: 70px;
   line-height: 70px; }
	 
@media only screen and (min-width: 40.063em) {

.top-bar-section li:not(.has-form) a:not(.button) {
   line-height: 70px; }
.top-bar-section li.active:not(.has-form) a:not(.button) {
   line-height: 70px; }
.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	 height: 70px; }
.top-bar-section .has-form {
	 height: 70px; }
}
	

ul.pricing-table { margin-bottom: 0; }
ul.pricing-table .price { background: #f8f8f8;  }
ul.pricing-table i { display: inline-block; margin-right: 5px; } 

.recommended { box-shadow: 0 0 10px rgba(0,0,0,0.25); position: relative; z-index: 2; }

@media only screen and (min-width: 768px){
  .left-side { border-right: none; }
  .right-side { border-left: none; }
}   