
.top-bar {
  height: 70px;
  line-height: 70px;
  position: relative;
  background: #333333;
  margin-bottom: 0; }
	
#Smooshed {
	border: 1px solid #aaa; }
	
#Smooshed, img {
	padding: 0px;
	margin: 0px; }
	
#Smooshed, h4, p {
	padding: 10px; }